@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}

header{
    width:auto;
    height: 430px;
    background: #6bafe3;
    background-size: cover;
    background-attachment: fixed;
}

.nav{
    position: fixed;
}
nav ul{
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}

header1 div .block
{

    display:none;
    transition:20s;
} 

.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }

.navbar .white {
    color:black;
}

.white1 ul li a{
    color:black;
}
.content4{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
    padding-top: 0px;
  }

.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 6px;
  }
  .navbar.black{
    position:fixed;
    background:#ffff;
    width: 100vw;
    height:120px;
    

} 
nav ul li{
    display:inline-block;
    padding:20px;
    margin-top: 26px;

} 
.navbar .menu-list{
    display: inline-flex;
    height:120px;
  }
.menu-list li{
    list-style: none;
    font-size: 20px;
  }
nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    font-family: sans-serif;
    letter-spacing:2px;
    font-weight: bold;
}  

.menu-list li a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
.menu-list li a:hover{
    color:#808181;
  } 

.console-container {
 
    font-family:sans-serif;
    font-size:4em;
    text-align:center;
    height:80px;
    width:600px;
    display:block;
    position:relative;
    color:white;
    top:200px;
    bottom:0;
    left:0;
    right:80px;
    margin:auto;
  } 
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }  
.banner{
  background: url("banner.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.content1{
  padding-left:30px ;
  padding-right: 30px;
  font-size: 20px;
  margin:0;
}


.content2{
padding-left:30px ;
padding-right: 30px;
font-size: 20px;
margin:0;
}


.middle{
  padding-left: 350px;
  padding-right: 350px;
  font-family: Rowdies;
  letter-spacing:1.5px;
  font-size: 25px;
}

.middle p{
 font-size: 30px;
}

.middle1{
padding-left: 150px;
padding-right: 150px;
font-family: Rowdies;
letter-spacing:1.5px;
font-size: 25px;
}

.middle2{
padding-left: 350px;
padding-right: 350px;
font-family: Rowdies;
letter-spacing:1.5px;
font-size: 25px;
}

.middle3{
padding-left: 350px;
padding-right: 350px;
font-family: Rowdies;
letter-spacing:1.5px;
font-size: 25px;
text-align: justify;

}
p{
  font-family: Roboto;
  letter-spacing: 1px;
  font-weight: medium;
  font-size: 30px;
  text-align: justify;
}

.methods{
  padding-left: 350px;
  padding-right: 350px;
  background-color: rgb(255, 244, 226);
  font-size: 25px;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
  .p{
    font-size: x-large;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
  .middle{
    padding-left: 150px;
    padding-right: 100px;
  }
  .methods{
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  p{
    font-size: larger;
  }
 .navbar{
    padding-top: 35px;
 }
 .middle1{
  padding-left: 50px;
  padding-right: 100px;
 }
 .middle2{
  padding-left: 100px;
  padding-right: 100px;
 }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 20px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    color:rgb(255, 255, 255);
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
    align-items: center;
    padding-left: 130px;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 150px;
    padding-bottom: 0px;
  }
  nav ul{
    text-align: center;
  }
  nav ul .align{
    align-items: center;
  }

  .menu-list li a:hover{
    color: #6bafe3;
  } 

}
@media (max-width: 593px) {
  p{
    font-size: large;
  }
  span{
    font-size: 30px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

@media (max-width: 309px) {

    .navbar.black{
        padding-top: 35px;
    }

  }