@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}

header{
    width:auto;
    height: 430px;
    background: #6bafe3;
    background-size: cover;
    background-attachment: fixed;
}

.nav{
    position: fixed;
}
nav ul{
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}

header1 div .block
{

    display:none;
    transition:20s;
} 

.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }

.navbar .white {
    color:black;
}

.white1 ul li a{
    color:black;
}
.content4{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
    padding-top: 0px;
  }

.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 6px;
  }
  .navbar.black{
    position:fixed;
    background:#ffff;
    width: 100vw;
    height:120px;
    

} 
nav ul li{
    display:inline-block;
    padding:20px;
    margin-top: 26px;

} 
.navbar .menu-list{
    display: inline-flex;
    height:120px;
  }
.menu-list li{
    list-style: none;
    font-size: 20px;
  }
nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    font-family: sans-serif;
    letter-spacing:2px;
    font-weight: bold;
}  

.menu-list li a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
.menu-list li a:hover{
    color:#808181;
  } 

.console-container {
 
    font-family:sans-serif;
    font-size:4em;
    text-align:center;
    height:80px;
    width:auto;
    display:block;
    position:relative;
    color:white;
    top:200px;
    bottom:0;
    left:0;
    right:80px;
    margin:auto;
  } 
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }  
.banner{
  background: url("banner.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.content1{
  padding-left:30px ;
  padding-right: 30px;
  font-size: 20px;
  margin:0;
}


.content2{
padding-left:30px ;
padding-right: 30px;
font-size: 20px;
margin:0;
}


.middle{
  padding-left: 350px;
  padding-right: 350px;
  font-family: Rowdies;
  letter-spacing:1.5px;
  font-size: 25px;
}

.middle p{
 font-size: 30px;
}

.middle1{
padding-left: 150px;
padding-right: 150px;
font-family: Rowdies;
letter-spacing:1.5px;
font-size: 25px;
}

.middle2{
padding-left: 350px;
padding-right: 350px;
font-family: Rowdies;
letter-spacing:1.5px;
font-size: 25px;
}

.middle3{
padding-left: 350px;
padding-right: 350px;
font-family: Rowdies;
letter-spacing:1.5px;
font-size: 25px;
text-align: justify;

}
p{
  font-family: Roboto;
  letter-spacing: 1px;
  font-weight: medium;
  font-size: 30px;
  text-align: justify;
}

.methods{
  padding-left: 150px;
  padding-right: 150px;
  background-color: rgb(255, 244, 226);
  font-size: 25px;
}
section{
  min-height: 100vh;
  width:80%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 3rem;
  margin: 2rem 0rem;
}
.faq h3:hover ~ p {
  display: block;
}
.faq p {
  display: none;
}
.faq h3:hover .faq p {
  display: block;
  
}

.faq{
  font-size: 25px;
}

.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
}
.articles{
  width: 400px;
  height:425px;
  padding-left: 60px;
  padding-right: 35px;
}

.articles1{
  width: 537px;
  height:425px;
  padding-left: 100px;
  padding-right: 35px;
}

.articles2{
  width: 495px;
  height:425px;
  padding-left: 60px;
  padding-right: 35px;
}
.card {
  width: 275px;
  font-family: sans-serif;
  text-align: center;
  transition: all .125s;
  transform: scale(1) translateY(0px);
}

.card1 {
  width: 275px;
  font-family: sans-serif;
  text-align: center;
  transition: all .125s;
  transform: scale(1) translateY(0px);
}

/* Elements */
.card__wrapper {
  padding-top: .1px;
  padding-bottom: .1px;
  position: relative;

  background-color: #ffffff;
  color: #999999;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
}
.card__wrapper:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 15px;
  right: 15px;
  bottom: 0;
  left: 15px;

  box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
  transition: all .125s;
  transform: scale(1) translateY(0px);
}
.card__box {
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.card__item  {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card__item--small  {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card__feature {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.card__img {
  display: block;
  max-width: 100%;
  height: 240px;
  width: 275px;
}
.card__header {
  position: relative;
  z-index: 1;
}
.card__title {
  color: #222222;

  font-size: 30px;
  font-weight: 400;
  line-height: 1.25;
}
.card__label {
  color: #cccccc;

  font-family: sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: .2em;
}
.card__divider {
  display: block;
  width: 100%;
  height: 15px;

  border: none;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyOCAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjggMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNERURFREUiIGQ9Ik0yNy41LDdoLTZDMjEuMiwzLjEsMTgsMCwxNCwwUzYuOCwzLjEsNi41LDdoLTZDMC4yLDcsMCw3LjIsMCw3LjVTMC4yLDgsMC41LDhoNmMwLjMsMy45LDMuNSw3LDcuNSw3czcuMi0zLjEsNy41LTdoNkMyNy44LDgsMjgsNy44LDI4LDcuNVMyNy44LDcsMjcuNSw3eiBNMTQsMWMzLjQsMCw2LjIsMi42LDYuNSw2SDcuNUM3LjgsMy42LDEwLjYsMSwxNCwxeiBNMTQsMTRjLTMuNCwwLTYuMi0yLjYtNi41LTZoMTIuOUMyMC4yLDExLjQsMTcuNCwxNCwxNCwxNHoiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center center;
}
.card__body {
  font-size: 12px;
  line-height: 1.75;
}

/* Modifiers */
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.card:hover .card__wrapper {
  box-shadow: 0 10px 10px 10px rgba(109, 108, 108, 0.05);
}
.card:hover .card__wrapper:after {
  transform: scale(0.95) translateY(10px);
}
.card1:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.card1:hover .card__wrapper {
  box-shadow: 0 10px 10px 10px rgba(109, 108, 108, 0.05);
}
.card1:hover .card__wrapper:after {
  transform: scale(0.95) translateY(10px);
}

/* Demo */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafdfb;
 
}
.card {
  display: inline-block;
  margin-top:0;
  margin-right: 70px;
  margin-left: 100px;
  margin-bottom: 40px;
  top: 50%;
}

.card1 {
  display: inline-block;
  margin-top:0;
  margin-right: 70px;
  margin-left: 100px;
  margin-bottom: 40px;
  top: 50%;
}  
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
  .p{
    font-size: x-large;
  }
  .card{
    margin-right: 0px;
    margin-left: 100px;
  }
  .card1{
    margin-right: 0px;
    margin-left: 60px;
  }

}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
  .middle{
    padding-left: 150px;
    padding-right: 100px;
  }
  .methods{
    padding-left: 100px;
    padding-right: 100px;
  }
  .card1{
    margin-left:0px;
    margin-right: 40px;
  }
  
  .card{
    margin-right: 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
  .card1{
    margin-left:40px;
    margin-right: 40px;
  }

  .card{
    margin-left: 40px;
    margin-right: 20px;
  } 


}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  p{
    font-size: larger;
  }
 .navbar{
    padding-top: 35px;
 }
 
.middle {
  padding-left: 50px;
  padding-right: 50px;
  font-family: Rowdies;
  letter-spacing: 1px;
  font-size: 20px;
}
 .middle1{
  padding-left: 50px;
  padding-right: 100px;
 }
 .middle2{
  padding-left: 100px;
  padding-right: 100px;
 }
 .middle3 {
  padding-left: 80px;
  padding-right: 80px;
  font-family: Rowdies;
  letter-spacing: inherit;
  font-size: large;
  text-align: justify;
}
 .spec_img{
  width: 350px;
  height: 600px;
 }
 .system_img{
  width: 480px;
  height: 350px;
}
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 20px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    color:rgb(255, 255, 255);
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
    align-items: center;
    padding-left: 130px;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 150px;
    padding-bottom: 0px;
  }
  nav ul{
    text-align: center;
  }
  nav ul .align{
    align-items: center;
  }

  .menu-list li a:hover{
    color: #6bafe3;
  } 
  .crad{
    margin-left: 150px;
    margin-bottom: 40px;
  }
  .card1{
    margin-left: 40px;
    margin-bottom: 40px;
  }

}
@media (max-width: 696px){
  .card{ 
    margin-left: 150px;
    margin-right: 0px;
  }
  .card1{
    margin-left: 150px;
  }
  
  
}
  

@media (max-width: 593px) {
  p{
    font-size: large;
  }
 .logo1{
    font-size: 25px;
 }
  .system_img{
    width: 380px;
    height: 350px;
  }
  .spec_img{
    width: 300px;
    height: 600px;
   }
   .middle3 {
    padding-left: 80px;
    padding-right: 80px;
    font-family: Rowdies;
    letter-spacing: inherit;
    font-size: large;
    text-align: justify;
}
  .faq{
  font-size: 20px;
}
.crad{
  margin-left: 150px;
  margin-bottom: 40px;
}
  .card1{
  margin-left: 150px;
}

}
@media (max-width: 537px){
  .logo1{
    font-size: 20px;

  }
  .content1{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

@media (max-width: 309px) {

    .navbar.black{
        padding-top: 35px;
    }

  }